{% load django_vite %}
{% load env %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Code</title>

    {% vite_hmr_client %}
    
    {% vite_asset 'code/code.js' %}
    
    {# TODO: Figure out how to link to CSS directly in HTML #}
    {#       that also works when DEBUG=False #}
    {# TODO: Figure out how to link to CSS as a regular CSS file #} 
    {#       and not as a JS module that injects CSS. #}
    {# vite_asset 'code/code.css' #}
    <!-- <link rel="stylesheet" src="{# vite_asset_url 'code/code.css' #}" /> -->
  </head>

  <body>
    <h1>Code</h1>
    
    <p>This is the Code page!</p>
    
    <h3 id="ts-project-panel-heading">Project Panel</h3>
    (nothing here yet)
    
    <h3>Image references</h3>
    <table>
      <tr>
        <th>
        </th>
        <th>
          HTML
        </th>
        <th>
          CSS
        </th>
        <th>
          JS
        </th>
      </tr>
      <tr>
        <td>
          .png, .jpg
        </td>
        <td>
          <img src="{% vite_asset_url 'code/imgs/boulderjoy.png' %}" />
        </td>
        <td>
          <div id="ts-png-css-image"></div>
        </td>
        <td>
          <div id="ts-png-js-image"></div>
        </td>
      </tr>
      <tr>
        <td>
          .svg
        </td>
        <td>
          <img src="{% vite_asset_url 'code/imgs/skylark-logomark-color.svg' %}" />
        </td>
        <td>
          <div id="ts-svg-css-image"></div>
        </td>
        <td>
          <div id="ts-svg-js-image"></div>
        </td>
      </tr>
    </table>
  </body>
</html>
